*{
	margin: 0;
	padding: 0;
}

.signup{
	height: 100%;
	width: 100%;
	background-image: url('../images/why.jpg');
	background-position: center;
	background-size: cover;
	position: absolute;
}
.form-box{
	width: 380px;
	height: 500px;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
	opacity: 0.9;
	border-radius: 25px;
}

.input-group{
	top: 80px;
	position: absolute;
	width: 280px
}

.input-field{
	margin: 10px;
	height: 20px;
	padding: 10px 0;
	margin: 5px 10px;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}

.btn{
	width: 50%;
	padding: 8px 25px;
	cursor: pointer;
	display: block;
	margin: 10px;
}

.form-box-login{
	width: 380px;
	height: 300px;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
	opacity: 0.9;
	border-radius: 25px;

}
.error{
	width: 380px;
	height: 500px;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
	opacity: 0.9;
	border-radius: 25px;

}